<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CapaDatos.Properties.Settings.FarmaciaConnectionString"
            connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=Farmacia;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CapaDatos.Properties.Settings.AccesosConnectionString"
            connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=Accesos;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CapaDatos.Properties.Settings.Farmacia1ConnectionString"
            connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=Farmacia1;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CapaDatos.Properties.Settings.SGHCC_UNIBEConnectionString"
            connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=SGHCC_UNIBE;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>