
@{
    ViewBag.Title = "Add_Quirofano";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Agregar Quirofano</h2>


<div class="col-lg-8">
    <div class="panel panel-default" id="panelQuirofano">
        <div class="panel-heading">Agregar Quirofano:</div>
        <hr style="width:17%;text-align:left;margin-left:0">
        <div class="panel-body">
            <div class="row">
                @*Campos de Textos y Registros*@
            </div>
        </div>


        <form action="/AddInfo/registrarQuirofano/" method="post" id="formQuirofano">
            <a>Nombre del Quirofano<input type="tel" name="nombrequirofano_txt" id="nombrequirofano.txt" class="form-control" formmethod="post" required></a> <br />
            <a>Status<input type="text" name="status_txt" id="status.txt" class="form-control" formmethod="post" required></a> <br />

            <a href="https://localhost:44304/Consultar/Consultar_Quirofano"> <btn class="btn btn-danger" style="background:Red" required>Cancelar</btn></a>
            <input for="formQuirofano" type="submit" value="Agregar" class="btn btn-success glyphicon glyphicon-plus" style="background: green; margin-left: 50px"> <br /> <br />
        </form>


    </div>
</div>


