
@{
    ViewBag.Title = "Add_Anestesiologo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Agregar Anestesiologo</h2>

<div class="col-lg-8">
    <div class="panel panel-default" id="panelEmpleados">
        <div class="panel-heading">Agregar Anestesiologo:</div>
        <hr style="width:17%;text-align:left;margin-left:0">
        <div class="panel-body">
            <div class="row">
                @*Campos de Textos y Registros*@
            </div>
        </div>


        <form action="/AddInfo/registrarAnestesiologo/" method="post" id="formAnestesiologo">
            <a>Cedula<input type="text" name="ceduladelmedico_txt" id="nombredelmedico.txt" class="form-control" formmethod="post" required></a> <br />
            <a>Nombre del Medico<input type="text" name="nombredelmedico_txt" id="nombredelmedico.txt" class="form-control" formmethod="post" required></a> <br />
            <a>Especialidad<input type="text" name="especialidaddelmedico_txt" id="especialidaddelmedico.txt" class="form-control" formmethod="post" required></a> <br />
            <a>Status<input type="text" name="statusdelmedico_txt" id="statusdelmedico.txt" class="form-control" formmethod="post" value="A" readonly required></a> <br />

            <a href="https://localhost:44304/Consultar/Consultar_Anestesiologo"> <btn class="btn btn-danger" style="background:Red" required>Cancelar</btn></a>
            <input for="formAnestesiologo" type="submit" value="Agregar" class="btn btn-success glyphicon glyphicon-plus" style="background: green; margin-left: 50px"> <br /> <br />
        </form>


    </div>
</div>


