
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Mantenimiento de Tablas</h2>

<div class="col-lg-8">
    <div class="panel panel-default" id="panelEmpleados">
        <div class="panel-heading">Tablas a Insertar:</div>
        <hr style="width:17%;text-align:left;margin-left:0">
        <div class="panel-body">
            <div class="row">
                @*Campos de Textos y Registros*@
            </div>
        </div>

        <div id="tblEmpleados" class="table">

            <a href="https://localhost:44304/AddInfo/Add_Anestesiologo"> <btn class="btn" style="background: rgb(133, 193, 233)">Anestesiologos</btn> </a>          <br /> <br />
            <a href="https://localhost:44304/AddInfo/Add_Asistente"> <btn class="btn" style="background: rgb(133, 193, 233)">Asistentes</btn> </a>                  <br /> <br />
            <a href="https://localhost:44304/AddInfo/Add_Cirugia"> <btn class="btn" style="background: rgb(133, 193, 233)">Cirugias</btn> </a>                      <br /> <br />
            <a href="https://localhost:44304/AddInfo/Add_Cirujano"> <btn class="btn" style="background: rgb(133, 193, 233)">Cirujanos</btn> </a>                    <br /> <br />
            <a href="https://localhost:44304/AddInfo/Add_HistorialClinico"> <btn class="btn" style="background: rgb(133, 193, 233)">Historiales Medicos</btn> </a>  <br /> <br />
            <a href="https://localhost:44304/AddInfo/Add_Paciente"> <btn class="btn" style="background: rgb(133, 193, 233)">Pacientes</btn> </a>                    <br /> <br />
            <a href="https://localhost:44304/AddInfo/Add_Quirofano"> <btn class="btn" style="background: rgb(133, 193, 233)">Quirofanos</btn> </a>                  <br /> <br />


        </div>


    </div>
</div>
